.dropbtn {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.App.is-dark .dropbtn {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.App.is-dark .dropdown-content {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.dropdown-content span {
  display: block;
  padding: 12px 16px;
  font-size: 1.2rem;
}
.dropdown-content span:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 90%);
}

.dropdown:hover .dropdown-content {
  display: block;
}
